@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.table-module {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 10px 5px;
}

.table-bordered {
    width: 100%;
}

.table-bordered {
    border: 1px solid black;
    border-collapse: collapse;
}

.td {
    border-bottom: 1px solid black;
}

.thead {
    border-bottom: 1px solid black;
}

.th, .td {
    padding: 10px;
}

tr:hover {
    background-color: #cfd8dc;
}

.th {
    height: 40px;
    text-align: left;
    vertical-align: middle;
    font-weight: 400;
    background-color: #0288d1;
    color: white;
}

.th-action {
    float: right;
}

.td {
    height: 30px;
}

.tr:nth-child(even) {background-color: #f2f2f2;}

.table-title-container {
    display: flex;
    justify-content: center;
}

.table-title {
    margin: 0;
}

.table-full-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
}

.table-search-option {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
}

.table-pagination-option {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
}

.custom-select select {
    width: 100%;
    min-width: 80px;
    max-width: 120px;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.searchBar input {
    width: 100%;
    min-width: 80px;
    max-width: 120px;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.pagination-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagination-desc p {
    margin: 0;
    font-size: 16px;
}

.pagination-options {
    display: flex;
}

.pagination-btn {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.pagination-btn-long {
    padding: 4px 6px;
}

.pagination-btn:hover {
    background-color:#0288d1;
    color: white;
}

.pagination-page-btn {
    font-size: 16px;
    margin: 0 2px;
    padding: 6px 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.pagination-page-btn:hover {
    background-color:#0288d1;
    color: white;
}

.page-btn-active {
    background-color:#0288d1;
    color: white;
}

.pagination-prev {
    margin-right: 5px;
}

.pagination-next {
    margin-left: 5px;
}

@media screen and (max-width: 900px) {
    .custom-select select,.searchBar input, .pagination-desc p, .pagination-btn, .pagination-page-btn, .th span, .td, .th-action {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    .th, .td {
        padding: 5px;
    }
}